@tailwind base;
@tailwind components;
@tailwind utilities;

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    opacity: 0;
  }
  
  .nav-pill {
    @apply text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium transition-all duration-300 transform hover:scale-110;
  }
  
  /* Add this CSS to your global styles or the component's CSS file */
.magic-button {
  background: linear-gradient(270deg, #ff6ec4, #7873f5, #1fc8db, #1fc8db, #78f5a7, #ff6ec4);
  background-size: 1200% 1200%;
  -webkit-animation: magic 3s ease infinite;
  -moz-animation: magic 3s ease infinite;
  animation: magic 3s ease infinite;
  border: none;
  outline: none;
  transition: box-shadow 0.3s ease-in-out;
}

.magic-button:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes magic {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@-moz-keyframes magic {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes magic {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.accordion__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  cursor: pointer;
  background: #333;
  color: white;
  border: none;
  outline: none;
  transition: background 0.3s;
}

.accordion__button:hover {
  background: #444;
}

.accordion__button:before {
  content: '';
}

.accordion__button[aria-expanded='true'] .accordion-caret {
  transform: rotate(90deg);
}

.accordion-caret {
  transition: transform 0.3s;
}


  